<div class="container d-flex justify-content-center align-content-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-homemade-pizza-horizontal-1542312378.png?crop=1.00xw:1.00xh;0,0&resize=480:*" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chicken Pizza</h5>
        <p class="card-text">Delicious chicken Pizza <br> BHD {{this.tapSrv.price}} </p>
        <a href="#" class="btn btn-primary" routerLink="checkout">Proceed to Checkout</a>
      </div>
    </div>
  </div>